{
  "arrowParens": "avoid",
  "plugins": [
    "prettier-plugin-tailwindcss"
  ],
  "pluginSearchDirs": [
    "."
  ],
  "printWidth": 100,
  "semi": false,
  "singleQuote": true,
  "trailingComma": "es5"
}
